* {
    box-sizing:border-box;
}

h1 {
    text-align:center;
}

.contact {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    gap:0.5rem;
    justify-content:center;
    align-items:center;
}

.contact > div {
    text-align:center;
}

.contact a {
    text-decoration:none;
    font-size:1.5rem;
}

.contact img {
    width:2rem;
    aspect-ratio:1/1;
}

.edit_contact_btn, .delete_contact_btn {
    width:1.5rem;
    height:1.5rem;
}

.edit_contact_btn:hover, .delete_contact_btn:hover {
    cursor:pointer;
    background-color:darkgrey;
    border:1px solid grey;
}
